<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/"> Home</a></li>
                <li><a href="/contact"> Home</a></li>
                <li><a href="/product/list"> Home</a></li>
                <li><a href="/product/add"> Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}};
    </main>
    <footer>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia cum qui a illo dolor et beatae quos totam ducimus aliquid!</p>
    </footer>
</body>
</html>